html {
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
.container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: up-and-down 3s ease-in-out infinite alternate;
}

@keyframes up-and-down {
  0% {
    transform: translateY(10%);
  }
}

/* .bubble {
  height: 65px;
  width: 65px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 250px;
  top: 200px;
  border-radius: 50px 50px 50px 5px;
  animation: bubble-scale 2s infinite;
}

@keyframes bubble-scale {
  50% {
    transform: scale(1.6);
  }
}

.closed-eyes-left {
  height: 7px;
  width: 100px;
  background-color: #51ecff;
  border: 2px solid #2c2c2c;
  position: absolute;
  border-radius: 0 0 50px 50px;
  border-top: none;
  top: 170px;
  left: 90px;
}

.closed-eyes-right {
  height: 7px;
  width: 100px;
  background-color: #51ecff;
  border: 2px solid #2c2c2c;
  position: absolute;
  border-radius: 0 0 50px 50px;
  border-top: none;
  top: 170px;
  left: 300px;
} */

.head {
  width: 500px;
  height: 450px;
  background-color: black;
  border-radius: 30%;
  position: relative;
  left: 32px;
  box-shadow: -10px -10px 90px #94d5e3;
}

.actions {
  margin-left: 40px;
  font-size: 200%;
  text-align: left;
  cursor: pointer;
}

.active {
  width: 100px;
  background-color: #51ecff;
}

.eyes {
  background-color: #51ecff;
  width: 150px;
  height: 150px;
  border-radius: 100%;

  position: absolute;
  top: 130px;
}
.left {
  left: 70px;
}

.right {
  right: 70px;
}

.eyebrow {
  z-index: 10;
  position: absolute;
  top: 35px;
  width: 200px;
  height: 90px;
  background-color: black;
}

.left-eyebrow {
  left: 45px;
}

.right-eyebrow {
  right: 45px;
}

.ball {
  z-index: 10;
  position: absolute;
  bottom: 0px;
  width: 200px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
}

.left-ball {
  left: 45px;
}

.right-ball {
  right: 45px;
}

.blink {
  animation: blink 4s ease-in forwards infinite;
}

.happy-ball {
  animation: happy-ball 4s ease-in forwards infinite;
}
.happy {
  animation: happy 4s ease-in forwards infinite;
}

.sad {
  animation: sad 4s ease-in forwards infinite;
}

.sad-left-eyebrow {
  animation: sad-left-eyebrow 4s ease-in forwards infinite;
}

.sad-right-eyebrow {
  animation: sad-right-eyebrow 4s ease-in forwards infinite;
}

.none {
  display: none;
}

@keyframes blink {
  0% {
    transform: scaleY(1);
  }
  3% {
    transform: scaleY(0);
  }
  6% {
    transform: scaleY(1);
  }
}

@keyframes happy {
  15% {
    border-radius: 47%;
  }
  60% {
    border-radius: 47%;
  }
  63% {
    border-radius: 30%;
  }
}

@keyframes happy-ball {
  15% {
    transform: translateY(-100px);
  }
  60% {
    transform: translateY(-100px);
  }
  63% {
    transform: translateY(0px);
  }
}

@keyframes sad {
  0% {
    border-radius: 30%;
  }
  50% {
    border-radius: 50%;
    transform: scaleX(0.9);
  }
  94% {
    border-radius: 50%;
    transform: scaleX(0.9);
  }
}

@keyframes sad {
  0% {
    border-radius: 30%;
  }
  50% {
    border-radius: 50%;
    transform: scaleX(0.9) scaleY(1.1) translateY(60px);
  }
  94% {
    border-radius: 50%;
    transform: scaleX(0.9) scaleY(1.1) translateY(60px);
  }
}

@keyframes sad-left-eyebrow {
  0% {
  }
  50% {
    transform: translateY(100px) translateX(-20px) rotate(-30deg);
  }
  94% {
    transform: translateY(100px) translateX(-20px) rotate(-30deg);
  }
}

@keyframes sad-right-eyebrow {
  0% {
  }
  50% {
    transform: translateY(100px) translateX(20px) rotate(30deg);
  }
  94% {
    transform: translateY(100px) translateX(20px) rotate(30deg);
  }
}

/*Love expression */

#heartbeat {
  margin-top: 400px;
  margin-bottom: 400px;
  margin-left: 650px;
  display: none;
  visibility: hidden;
  margin-right: 580px;
  width: 200px;
  height: 200px;
  background: #fd0015;
  position: absolute;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px #fd0015;
  animation: heart-beat 0.6s linear infinite;
}

@keyframes heart-beat {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }
  80% {
    transform: rotate(-45deg) scale(1);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}

#heartbeat:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: #fd0015;
  border-radius: 100px;
  box-shadow: -10px -10px 90px #fd0015;
  top: -50%;
}

#heartbeat:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: #fd0015;
  right: -50%;
  box-shadow: 10px 10px 90px #fd0015;
  border-radius: 100px;
}
